/* src/PageTransitionWrapper.css */
.transition-wrapper {
	position: relative;
	height: 100%; /* Or set to the height you need */
	width: 100%; /* Or set to the width you need */
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in;
}
