/* src/SelectCollege.css */
.search-div {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem;
	background-color: #192734;
	border-radius: 1.9375rem;
	position: relative; /* Establish a containing block for absolute positioning */
}

.button:hover {
	background-color: #90caf9;
	border: 1px solid #90caf9;
	color: #15202b;
}
.button {
	border-radius: 24px;
	padding: 10px 15px;
	margin: 10px 0;
	border: none;
	background-color: #90caf9;
	border: 1px solid #90caf9;
	color: #15202b;
	cursor: not-allowed; /* Default to not-allowed cursor */
	opacity: 0.5; /* Dimmed appearance by default */
	font-size: 16px;
	font-weight: 900;
	transition: all 0.3s ease;
}

.button.active {
	cursor: pointer;
	opacity: 1; /* Fully visible when active */
}

.button.active:hover {
	background-color: #007bff;
	border-color: #007bff;
	color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.search-div input {
	border: none;
	background-color: transparent;
	border: hsl(0, 0%, 18.82%);
	color: var(--search-input-color);
	font-size: 1rem;
	font-weight: 500;
	padding: 0.5rem;
	flex: 1;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
}

.search-div input:focus {
	outline: none;
}

.search-div ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #192734;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	width: 100%; /* Make the ul match the width of the search-div */
	top: 100%; /* Align the top of the ul with the bottom of the input */
	left: 0; /* Align the ul to the left edge of the search-div */
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000; /* Ensure the ul is above other content */
	border-bottom-left-radius: 1.9375rem;
	border-bottom-right-radius: 1.9375rem;
}

.search-div li {
	padding: 0.75rem 1.5rem;
	cursor: pointer;
}

.search-div li:nth-of-type(1) {
	border-top: 1px solid #ddd;
	padding-top: 1rem;
}

.search-div li:last-of-type {
	padding-bottom: 1rem;
}

.focused {
	background-color: #ffffff26;
	color: #ffffff;
}

.search-div ul li:hover {
	background-color: #ffffff26;
	color: #ffffff;
}

input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
}

.search-div.no-rounded-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.info-text {
	padding: 0 4rem;
}

.info-text ul {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-size: 1.5rem;
	font-weight: 600;
}
